.container {
  display: flex;
  justify-content: space-evenly; 
  width: 1240px;
  height: 100px;
  border: 3px solid black;
}

.item1 {
  height: 100px;
  width: 200px;
  background-color: white;
  border: 3px solid black;
  margin-top: -3px; 
}
  
.item2 {
  height: 100px;
  width: 200px;
  background-color: white;
  border: 3px solid black;
  margin-top: -3px;
}
  
.item3 {
  height: 100px;
  width: 200px;
  background-color: white;
  border: 3px solid black;
  margin-top: -3px;
}
  
.item4 {
  height: 100px;
  width: 200px;
  background-color: white;
  border: 3px solid black;
  margin-top: -3px;
}
  
.item5 {
  height: 100px;
  width: 200px;
  background-color: white;
  border: 3px solid black;
  margin-top: -3px;
}

.containerrubrik {
  display: flex;
  margin-top: 100px;
  margin-left: -430px;
  position: absolute;
}

.container1 {
  display: flex; 
  justify-content: space-between;
  width: 1100px;
  height: 300px;
  border: 3px solid black;
  margin-top: 150px;
  position: relative;
  right: 640px;
}

.item6 {
  height: 250px;
  width: 200px;
  background-color: white;
  border: 3px solid black;
  margin-top: 20px;
  position: relative;
  left: 0px;
}

.item7 {
  height: 250px;
  width: 200px;
  background-color: white;
  border: 3px solid black;
  margin-top: 20px;
  position: relative;
  left: 5px;
}
.item8 {
  height: 250px; 
  width: 200px;
  background-color: white;
  border: 3px solid black;
  margin-top: 20px; 
  position: relative;
  left: 10px;
}

.item9 {
  height: 250px;
  width: 200px;
  background-color: white;
  border: 3px solid black;
  margin-top: 20px;
  position: relative;
  left: 15px;
}

.item10 {
  height: 250px;
  width: 200px;
  background-color: white;
  border: 3px solid black;
  margin-top: 20px;
  position: relative;
  left: 20px;
}




